<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.badgernav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BadgerNav">
        <activity
            android:name=".NavMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_nav_menu"
            android:theme="@style/Theme.BadgerNav.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.calendar.MainCalendarActivity"
            android:exported="true"
            android:label="@string/calendar_and_events"
            android:theme="@style/Theme.BadgerNav.NoActionBar" />
        <activity
            android:name=".ui.calendar.ContactsActivity"
            android:exported="true"
            android:label="@string/calendar_and_events"
            android:theme="@style/Theme.BadgerNav.NoActionBar" />
        <activity
            android:name=".ui.calendar.MeetingActivity"
            android:exported="true"
            android:label="@string/calendar_and_events"
            android:theme="@style/Theme.BadgerNav.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1Z-eps9NqIoBTu-AmjEfPvVp0P_MvfHk" />
    </application>

</manifest>